<% content_for :head do %>
  <title>HealthBravo: Homepage</title>
  <meta name="description" content="website description < 300 chars">
<% end %>

<%= link_to "All Supplements", supplements_path %><br />
<%= link_to "All Articles", articles_path %>