<% content_for :head do %>
  <title>Homepage</title>
  <meta name="description" content="website description < 300 chars">
<% end %>

<h1>Homepage</h1>

<%= link_to "All Supplements", supplements_path %><br />
<%= link_to "All Articles", articles_path %>

<h3>pretty homepage</h3>