<div id="bloodhound">
  <input class="typeahead" type="text" placeholder="Search...">
</div>

<%= stylesheet_link_tag("welcome") %>

<script type="text/javascript">

    var supplement_array = gon.supplement_array;

    var supplement_array = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: supplement_array
    });

    $('#bloodhound .typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'supplement_array',
      source: supplement_array
    });

</script>